In [1]:
from data.kbo import KBOTeams
from data.kbo import request_player_info, request_team_members

In [7]:
# Team members parsing
team_doosan = request_team_members(KBOTeams.DOOSAN_BEARS, 2024)
team_lotte = request_team_members(KBOTeams.LOTTE_GIANTS, 2024)

In [8]:
team_doosan

    player_id player_name
0       12850         박치국
1       14736         박지훈
2       14572         이주엽
3       15000         라모스
4       16071         박지호
..        ...         ...
96      16073         김무빈
97      16074         손율기
98      16075         김태완
99      16142         장원호
100     15129         이민석

[101 rows x 2 columns]

In [9]:
team_lotte

   player_id player_name
0      14796         손성빈
1      14642         황성빈
2      10863         한현희
3      15253         김민석
4      14169         신윤후
..       ...         ...
88     16097         소한빈
89     14165         김동규
90     14622         박명현
91     14817         이병준
92     14818         최우인

[93 rows x 2 columns]

In [4]:
# Player stat parsing
stat = request_player_info(12850)  # 박치국

In [5]:
stat[2]

,요일,G,GS,CG,SHO,W,L,HD,S,IP,...,SO,NP,WHIP,AVG,OBP,OPS,ERA,avLI,RE24,WPA
0,화,9,0,0,0,0,0,1,0,6.2,...,6,127,2.25,0.379,0.455,1.145,9.45,0.30,-3.90,-0.124
1,수,9,0,0,0,1,0,2,1,8.2,...,5,119,1.27,0.241,0.343,0.688,2.08,1.10,3.74,0.250
2,목,9,0,0,0,0,3,0,0,8.2,...,6,188,2.08,0.361,0.489,0.878,6.23,1.40,1.43,-1.412
3,금,6,0,0,0,0,0,0,0,5.2,...,4,97,1.94,0.360,0.407,0.887,7.94,0.38,-1.29,-0.187
4,토,9,0,0,0,1,0,0,0,11.0,...,9,173,1.27,0.279,0.340,0.898,7.36,0.72,-2.95,-0.356
5,일,10,0,0,0,0,0,0,0,7.1,...,5,99,1.09,0.280,0.345,0.705,6.14,0.75,1.40,-0.378

In [6]:
stat[3]

,시간,G,GS,CG,SHO,W,L,HD,S,IP,...,SO,NP,WHIP,AVG,OBP,OPS,ERA,avLI,RE24,WPA
0,14:00,11,0,0,0,0,0,1,0,10.0,...,9,137,0.90,0.222,0.293,0.571,4.50,0.96,2.28,-0.131
1,17:00,7,0,0,0,1,0,0,0,5.1,...,2,84,1.50,0.368,0.417,1.206,10.13,0.68,-1.92,-0.389
2,18:00,2,0,0,0,0,0,0,0,4.1,...,4,63,1.15,0.235,0.278,0.749,6.23,0.28,-1.11,-0.106
3,18:30,32,0,0,0,1,3,2,1,28.1,...,20,519,1.94,0.348,0.441,0.928,6.35,0.86,-0.82,-1.580

In [ ]:
from enum import Enum
class TEST(Enum):
    test = 1

print(TEST.test.value)