In [1]:
import pandas as pd

from data.kbo.statiz import KBOTeams
from data.kbo.statiz import request_player_info, request_team_members
from data.kbo.naver import generate_game_id, request_game_logs, NaverGameLogParser

from datetime import datetime

#### Statiz (Web crawl)

In [3]:
# Team members parsing
team_doosan2024 = request_team_members(KBOTeams.DOOSAN_BEARS, 2024)
team_doosan2023 = request_team_members(KBOTeams.DOOSAN_BEARS, 2023)

In [4]:
# Player stat parsing
stat = request_player_info(12850)  # 박치국

In [ ]:
stat[0], stat[1], stat[2], stat[3]

#### Naver Sports (Web crawl)

In [3]:
glog1 = request_game_logs("HT", "LT", datetime(2024, 9, 28), 1)
glog2 = request_game_logs("HT", "LT", datetime(2024, 9, 28), 2)
glog3 = request_game_logs("HT", "LT", datetime(2024, 9, 28), 3)
glog4 = request_game_logs("HT", "LT", datetime(2024, 9, 28), 4)
glog5 = request_game_logs("HT", "LT", datetime(2024, 9, 28), 5)
glog6 = request_game_logs("HT", "LT", datetime(2024, 9, 28), 6)
glog7 = request_game_logs("HT", "LT", datetime(2024, 9, 28), 7)
glog8 = request_game_logs("HT", "LT", datetime(2024, 9, 28), 8)
glog9 = request_game_logs("HT", "LT", datetime(2024, 9, 28), 9)

In [4]:
pns, vss = list(), list()

for glog in reversed([glog1, glog2, glog3, glog4, glog5, glog6, glog7, glog8, glog9]):
    for l in glog:
        try:
            ngl = NaverGameLogParser(l)
            pn = ngl.vs_log()
            vs = ngl.vs_result()

            pns.append(pn)
            vss.append(vs)
        except Exception as e:
            print(e)
            # print(e == AssertionError)
            # print(e == KeyError)
            continue

'not a correct log style'
'not a correct log style'
'not a correct log style'
Value after * must be an iterable, not NoneType
'not a correct log style'
'not a correct log style'
'not a correct log style'
Value after * must be an iterable, not NoneType
'not a correct log style'
'not a correct log style'
Value after * must be an iterable, not NoneType
'not a correct log style'
Value after * must be an iterable, not NoneType
'not a correct log style'



'not a correct log style'
Value after * must be an iterable, not NoneType

'not a correct log style'

'not a correct log style'
'not a correct log style'
Value after * must be an iterable, not NoneType
'not a correct log style'
Value after * must be an iterable, not NoneType




'not a correct log style'


'not a correct log style'
'not a correct log style'
'not a correct log style'
Value after * must be an iterable, not NoneType

'not a correct log style'
'not a correct log style'
'not a correct log style'
'not a correct log style'
'not a correct log style'
'not a correct log style'
'not a correct log style'
'not a correct log style'

In [5]:
pns[0]

,pitchId,resultId,ballCount,type,speed,result,homeScore,awayScore,homeHit,awayHit,...,vy0,vz0,vx0,z0,y0,x0,ax,ay,az,stance
0,240928_203421,a6b66c1e-3416-4e07-9b38-c0bba8286033,1,직구,147.0,B,8,12,13,12,...,-133.505,-2.385130,3.58730,6.34801,50.0,-1.80707,-11.69230,27.4410,-23.5202,L
1,240928_203438,a6b66c1e-3416-4e07-9b38-c0bba8286033,2,직구,144.0,F,8,12,13,12,...,-131.214,-3.780500,5.67676,6.33220,50.0,-1.59944,-12.27600,24.4508,-19.6304,L
2,240928_203502,a6b66c1e-3416-4e07-9b38-c0bba8286033,3,직구,145.0,S,8,12,13,12,...,-132.176,-5.388980,4.12834,6.17403,50.0,-1.74205,-7.18508,23.3877,-21.1190,L
3,240928_203527,a6b66c1e-3416-4e07-9b38-c0bba8286033,4,포크,129.0,B,8,12,13,12,...,-117.806,-0.919548,2.22177,6.47842,50.0,-1.87244,-1.16163,22.1148,-29.7194,L
4,240928_203550,a6b66c1e-3416-4e07-9b38-c0bba8286033,5,직구,146.0,H,8,12,13,12,...,-132.378,-5.908700,5.16201,6.24516,50.0,-1.48330,-5.62465,23.2289,-17.7082,L

In [6]:
pns_df = pd.concat(pns)
vss_df = pd.concat(vss)

result_id_test = pns_df['resultId'].unique().tolist()

`pns_df` 의 마지막 과
`vss_df` 을 비교하면, Hit의 결과가 나옴

In [16]:
pns_df.loc[pns_df['resultId'] == result_id_test[19]][pns_df.columns[5:25]]

,result,homeScore,awayScore,homeHit,awayHit,homeBallFour,awayBallFour,homeError,awayError,pitcher,batter,strike,ball,out,base1,base2,base3,inn,crossPlateX,crossPlateY
0,B,8,6,11,9,5,3,0,2,52639,51551,0,1,1,5,0,3,6,0.991092,0.7083
1,T,8,6,11,9,5,3,0,2,52639,51551,1,1,1,5,0,3,6,0.027713,0.7083
2,T,8,6,11,9,5,3,0,2,52639,51551,2,1,1,5,0,3,6,-0.062295,0.7083
3,H,8,6,11,9,5,3,0,2,52639,51551,2,1,1,5,0,3,6,0.550784,0.7083

In [8]:
vss_df.loc[vss_df['resultId'] == result_id_test[19]]

,text,resultId,homeScore,awayScore,homeHit,awayHit,homeBallFour,awayBallFour,homeError,awayError,pitcher,batter,strike,ball,out,base1,base2,base3
0,나승엽 : 2루수 병살타 아웃 (2루수->유격수->1루수 송구아웃),8fb1cd61-ba71-42a7-b6b1-b0ce0c333b99,8,6,11,9,5,3,0,2,52639,51551,2,1,3,0,0,3
1,1루주자 전준우 : 포스아웃 (2루수->유격수 2루 터치아웃),8fb1cd61-ba71-42a7-b6b1-b0ce0c333b99,8,6,11,9,5,3,0,2,52639,51551,2,1,3,0,0,3

In [9]:
vss_df.loc[vss_df['resultId'] == result_id_test[19]]['text']

0    나승엽 : 2루수 병살타 아웃 (2루수->유격수->1루수 송구아웃)
1       1루주자 전준우 : 포스아웃 (2루수->유격수 2루 터치아웃)
Name: text, dtype: object

,text,resultId,homeScore,awayScore,homeHit,awayHit,homeBallFour,awayBallFour,homeError,awayError,pitcher,batter,strike,ball,out,base1,base2,base3
0,손호영 : 유격수 앞 땅볼로 출루,3d379ff4-8e8e-4572-9ed4-0c6e5932ef53,0,0,1,1,0,0,0,0,53613,50150,1,0,2,4,0,0
1,1루주자 고승민 : 포스아웃 (유격수->2루수 2루 터치아웃),3d379ff4-8e8e-4572-9ed4-0c6e5932ef53,0,0,1,1,0,0,0,0,53613,50150,1,0,3,4,0,0